<div class="container">
    <br />
    <div class="row">
      <div class="col">
        <h3>All bookings:</h3>
      </div>
      <div class="col text-right">
        <a [routerLink]="'/rooms/' +  roomId + '/bookings/create'" class="btn btn-success btn-sm">Make booking</a>
        <a routerLink="/rooms" class="btn btn-secondary btn-sm">Back to rooms list</a>
  
      </div>
      <br>
    </div>
    <br />
    <table class="table table-bordered table-sm">
      <tr>
        <th>Id</th>
        <th>Check In</th>
        <th>Check Out</th>
        <th>Number of Guests</th>
        <th>Total Fee</th>
        <th>Other Requests</th>
        <th></th>
        <th width="200px"></th>
      </tr>
      <input id="roomId" type="hidden" />
      <tr *ngFor="let booking of allBookingsFromRoom">
        <td>{{ booking.checkIn }}</td>
        <td>{{ booking.checkOut }}</td>
        <td>{{ booking.numberOfGuests }}</td>
        <td>{{ booking.totalFee}}</td>
        <td>{{ booking.otherRequests}}</td>
        <td class="text-right">
          <a [routerLink]="['/bookings/' + booking.id + '/edit']"
            class="btn btn-primary btn-sm">Edit the booking</a>
          <button mat-raised-button type="button" (click)="openDialog(booking.id)" class="btn btn-danger btn-sm">
            Delete booking
          </button>
        </td>
      </tr>
  
    </table>
  </div>
